<!DOCTYPE html>
<html lang="en">
<head>
  <title>SuperStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <style>
    .font{
        font-family: 'Roboto', sans-serif;
      }

      body{
        background-image: url("../static/img/superstore1.png");
        background-size: 100%;
        background-repeat: no-repeat;
        color: white; 
        font-weight: bold;
      }
  </style>
</head>
<body>
  <div class="container">
    <form action="submit", method="POST">{% csrf_token %}
      <div class="row" style="margin-top:5%">
        <div class="col-3"></div>
        <div class="col-6">
            {% load static %}
            <img src="{% static 'img/logo.png' %}" > 
            <!-- Campo para usário e senha -->
            <div class="form-group font">
              <label for="username">Usuário</label>
              <input type="text", class="form-control" id="username" name="username" placeholder="Usuário">
            </div>

            <div class="form-group font ">
              <label for="password">Senha</label>
              <input type="password", class="form-control" id="password" name="password" placeholder="Senha">
            </div>

            <div>
              {% for message in messages %}
              <div class="alert alert-danger">
                <strong>Error!</strong> {{ message }}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary font">Entrar</button>
              </div>
        </div>
        <div class="col-3"></div>
      </div>
    </form>
  </div>
</body>
</html>
